<div class="container m-5">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card">
                <div class="card-title text-center">
                    <h3>REGISTRAR CLIENTE</h3>
                </div>
                <div class="card-body">
                    <form #form="ngForm" (ngSubmit)="registrarCliente()">
                        <div class="form-group">
                          <label for="apellido"><strong>Ingrese el apellido:</strong></label>
                          <input [(ngModel)]="cliente.apellido" name="apellido" id="apellido" required #apellido="ngModel" type="text" class="form-control">
                        </div>
                        <div class="form-group">
                          <label for="nombre"><strong>Ingrese el nombre:</strong></label>
                          <input [(ngModel)]="cliente.nombre" name="nombre" id="nombre" required #nombre="ngModel" type="text" class="form-control">
                        </div>
                        <div class="form-group">
                          <label for="tipoDNI"><strong>Ingrese el tipo de documento:</strong></label>
                          <input [(ngModel)]="cliente.tipoDocumento" name="tipoDocumento" id="tipoDNI" required #tipoDocumento="ngModel" type="text" class="form-control">
                        </div>
                        <div class="form-group">
                          <label for="numDocumento"><strong>Ingrese el numero de documento:</strong></label>
                          <input [(ngModel)]="cliente.numDocumento" name="numDocumento" id="numDocumento" required #numDocumento="ngModel" type="number" class="form-control">
                        </div>
                        <div class="form-group">
                          <label for="telefono"><strong>Ingrese el telefono:</strong></label>
                          <input [(ngModel)]="cliente.telefono" name="telefono" id="telefono" required #telefono="ngModel" type="text" class="form-control">
                        </div>
                        <div class="form-group">
                          <label for="razonSocial"><strong>Ingrese la razon social:</strong></label>
                          <input [(ngModel)]="cliente.razonSocial" name="razonSocial" id="razonSocial" required #razonSocial="ngModel" type="text" class="form-control" id="exampleInputRazon">
                        </div>
                        <div class="form-group">
                          <label for="codigoPostal"><strong>Ingrese el codigo postal:</strong></label>
                          <input [(ngModel)]="cliente.codigoPostal" name="codigoPostal" id="codigoPostal" required #codigoPostal="ngModel" type="text" class="form-control" id="exampleInputPostal">
                        </div>
                        <div class="form-group">
                          <label for="direccion"><strong>Ingrese la direccion:</strong></label>
                          <input [(ngModel)]="cliente.direccion" name="direccion" id="direccion" required #direccion="ngModel" type="text" class="form-control" id="exampleInputDireccion">
                        </div>
                        <br>
                        <button [disabled]="form.invalid" type="submit" class="btn btn-primary">REGISTRAR</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>